@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primarymain: #5a1414;
    --color-tintone: #fcf2f2;
    --color-navbarselect: #6a3c3b;
    --color-tinttwo: #f2c6c6;
  }
}

.theme-spring {
  --color-primarymain: #5a1414;
  --color-tintone: #fcf2f2;
  --color-navbarselect: #6a3c3b;
  --color-tinttwo: #f2c6c6;
}

.theme-haram {
  --color-primarymain: #5a1414;
  --color-tintone: #fcf2f2;
  --color-navbarselect: #6a3c3b;
  --color-tinttwo: #f2c6c6;
}
.theme-sky {
  --color-primarymain: #5a1414;
  --color-tintone: #fcf2f2;
  --color-navbarselect: #6a3c3b;
  --color-tinttwo: #f2c6c6;
}
.theme-red {
  --color-primarymain: #5a1414;
  --color-tintone: #fcf2f2;
  --color-navbarselect: #6a3c3b;
  --color-tinttwo: #f2c6c6;
}
