@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primarymain: #5a1414;
    --color-secondarymain: #792a2a;
  }
}

.theme-spring {
  --color-primarymain: #5a1414;
  --color-secondarymain: #792a2a;
}

.theme-haram {
  --color-primarymain: #1da873;
  --color-secondarymain: #23855fe1;
}
.theme-sky {
  --color-primarymain: #159bc4;
  --color-secondarymain: #42bee4;
}
.theme-red {
  --color-primarymain: #d4302b;
  --color-secondarymain: #c54d49;
}


